src/main/mule/mule-deploy-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="26186949-f783-4fa1-84b3-f0809a52049f" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="a8604048-34d8-4063-8a82-eb315f1cd6a4" file="config.properties" />
	<flow name="mule-deploy-testFlow" doc:id="80180410-569b-4f36-8808-25f6ec1bf133" >
		<http:listener doc:name="Listener" doc:id="f9bd4bba-c1b3-4bb6-9a2e-7ea192a020c4" config-ref="HTTP_Listener_config" path="/mavendeploy"/>
		<logger level="INFO" doc:name="Logger" doc:id="363b02cd-77ca-4e46-bee0-4f210bf64a6a" message="#['http request recieved   ']"/>
		<ee:transform doc:name="Transform Message" doc:id="22e8f01c-300d-4615-90c1-8909d84a4e7d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
message:"Test App for deployment"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="2389ff9a-95ac-47e3-82e3-5a4fdbd5f78b" />
	</flow>
</mule>
